div.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#modal {
  width: 40%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}